<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/47867613da.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/login.css">
    </head>
    <body>
        <header class="main-header">
            <div class="top-bar">
                <img class="logo" src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                <form action="#" method="post" class="buscar">
                    <input type="text" class="caja-texto" placeholder="Buscar productos, marcas">
                    <button type="submit" class="btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
                <h2 class="compra-credito">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    &nbsp;Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>
            <a href="#" class="menu-burger">
                <i class="fas fa-bars"></i>
            </a>
            <nav class="main-navbar">
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="/register">Creá tu cuenta&nbsp;<i class="fa-solid fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá&nbsp;<i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li><a href="#">Mis compras&nbsp;<i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </nav>
        </header>
        <section class="banner">
            <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
        </section>
        <main class="login">
            <div>
                <form action="/" method="POST">
                    <div class="login-info">
                        <img src="" alt="">
                    </div>
                    <div class="login-info">
                        <label for="usuario">Nombre de usuario:</label>
                        <input type="text" name="usuario" id="usuario">
                        
                    </div>
                    <div class="login-info">
                        <label for="password">Contraseña:</label>
                        <input type="password" name="password" id="password">
                        
                    </div>
                    <div class="login-info">
                        <input type="submit" class="botton-enviar" value="Enviar">
                    </div>
                </form>
            </div>
        </main>
        <footer>
            <div class="footer-menu">
                <article>
                    <i class="fa-solid fa-credit-card"></i>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                        seguro!</p>
                </article>
                <article>
                    <i class="fa-solid fa-gift"></i>
                    <h3>Envió gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                        Mercado Puntos.</p>
                </article>
                <article>
                    <i class="fa-solid fa-user-shield"></i>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devuelvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                        protegid@.</p>
                </article>
            </div>
<article>
    <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L</p>
</article>
        </footer>
        <script src="https://kit.fontawesome.com/47867613da.js" crossorigin="anonymous"></script>
    </body>
</html>