<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/47867613da.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/register.css">
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo"> 
                    <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                </div>
                <div class="form" action="#" method="GET">
                    <div class="input">Buscar productos, marcas y más</div>
                    <div class="submit"><i class="fa fa-search"></i></div>
                </div>
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>
        <section class="banner">
            <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
        </section>
        <main class="register-form">
            <form action="/" method="POST">
                <div class="form">
                    <label for="nombre">Nombre y Apellido:</label>
                    <input type="text" name="nombre" id="nombre">
                    <span class="error">Carácteres inválidos</span>
                </div>
                <div class="form">
                    <label for="usuario">Nombre de Usuario:</label>
                    <input type="text" name="usuario" id="usuario">
                    <span class="error">Caráctres inválidos o usuario existe</span>
                </div>
                <div class="form">
                    <label for="fechaNacimiento">Fecha de Nacimiento:</label>
                    <input type="date" name="fechaNacimiento" id="fechaNacimiento">
                </div>
                <div class="form">
                    <label for="domicilio">Domicilio:</label>
                    <input type="text" name="nombre" id="nombre">
                    <span class="error">Carácteres inválidos</span>
                </div>
                <div class="form">
                    <label for="perfil">Perfil del Usuario:</label>
                    <div class="form-radio">
                        <input type="radio" name="perfil" value="Comprar"><span>Comprar</span>
                        <input type="radio" name="perfil" value="Vender"><span>Vender</span>
                    </div>
                    <span class="error">Seleccione uno</span>
                </div>
                <div class="form">
                    <label for="categorias">Categorías de Interés:</label>
                    <input type="checkbox" name="categoria" value="Electro"><span>Electro</span>
                    <input type="checkbox" name="categoria" value="Moda"><span>Moda</span>
                    <input type="checkbox" name="categoria" value="Hogar"><span>Hogar</span>
                    <input type="checkbox" name="categoria" value="Juguetería"><span>Juguetería</span>
                    <input type="checkbox" name="categoria" value="Vida sana"><span>Vida sana</span>
                    <span class="error">Seleccione al menos uno</span>
                </div>
                <div class="form">
                    <label for="foto">Foto de Usuario:</label>
                    <input type="file" name="foto" id="foto">
                    
                </div>
                <div class="form">
                    <label for="password">Escribir contraseña:</label>
                    <input type="password" name="password" id="password">
                </div>
                <div class="form">
                    <label for="conf_password">Confirmar contraseña:</label>
                    <input type="password" name="conf_password" id="conf_password">
                   
                </div>
                <div class="form footer">
                    <button type="submit" class="btn btn-enviar">Enviar</button>
                </div>
            </form>
        </div>
        </main>
        <footer>
            <div class="footer-menu">
                <article>
                    <i class="fa-solid fa-credit-card"></i>
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                        seguro!</p>
                </article>
                <article>
                    <i class="fa-solid fa-gift"></i>
                    <h3>Envió gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                        Mercado Puntos.</p>
                </article>
                <article>
                    <i class="fa-solid fa-user-shield"></i>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devuelvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                        protegid@.</p>
                </article>
            </div>
<article>
    <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L</p>
</article>
        </footer>
        <script src="https://kit.fontawesome.com/47867613da.js" crossorigin="anonymous"></script>
    </body>
</html>