* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #eceaea;
    padding: 0px;
    margin: 0px;
}
section{
    background-color:#ebebeb;
}
section .ultima-visita{
    background-color: #ebebeb;

}
.ultima-visita h4{
    color:#39b54a
}
.main-header {
    background-color: #EAC926;
    padding: 20px;
}

.top-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logo {
    display: inline-flex;
    max-width: 150px;
    margin-right: 10px;
}

.buscar {
    display: inline-flex;
    flex-wrap: nowrap;
    max-width: 150px;
    margin-left: 10px;
}

.compro-credito {
    font-weight: 400;
    text-align: center;
    margin: 1rem 0;
}

.menu-burger {
    background-color: #0724ce;
    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.main-navbar {
    display: none;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}


.banner img {
    width: 100%;
}

main {
    width: 90%;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

main section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

main section article {
    margin: 10px;
    box-sizing: border-box;
}

main section article .descripciones {
    display: none;
    opacity: 0;
}

main section article:hover {
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.15);
}

main section article:hover .descripciones {
    display: block;
    opacity: 1;
    transition: display 2000ms;
}

main section article:hover i {
    transform: rotateZ(-90deg);
}

main section article i {
    transition: transform 1000ms;
}

main h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #333;
}

.img {
    width: 100%;
}

.producto_descrip {
    background-color: #ffffff;
    border-top: 1px solid #ebebeb;
    padding: 15px;
    position: relative;
}

.product-description .contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-description p, .product-description h4 {
    margin-top: 0.35rem;
    margin-right: 0.75rem;
}

main section article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: #39b54a;
}

.titulo {
    font-size: 24px;
}

.precios {
    font-size: 18px;
}

.descuentos,
.descripciones {
    font-size: 16px;
}

.descripciones {
    display: none;
}

.descuentos {
    color: #39b54a;
}

footer {
    background-color: #ffffff;
    padding: 1.25rem 0.35rem;
}

footer article {
    text-align: center;
    margin-top: 2.5rem;
}

footer article:hover {
    background-color: #ececec;
    color: #37358b;
}

footer article:hover i {
    color: #37358b;
}

footer i {
    color: #1259c3;
    font-size: 2rem;
    margin-bottom: 10px;
}

footer .copyright {
    font-weight: bold;
}


input.caja-texto {
    width: 100%;
    padding: 0.35rem 0.25rem;
    border-radius: 0.25rem;
    margin-bottom: 0.35rem;
    border: 1px solid #c3c3c3;
    background-color: #ececec;
}


button.btn, input.btn {
    width: 30px;
    padding: 0.35rem 0.25rem;
    border-radius: 0.25rem;
    margin-bottom: 0.35rem;
    border: 1px solid #c3c3c3;
    background-color: #ececec;
}



@media (min-width: 768px) {
    .top-bar{
        display: flex;
        justify-content: space-between;
    }

    .logo, .buscar {
        max-width: 200px;
        text-align: center;
        margin: 0;
    }

    .compra-credito {
        max-width: 200px;
        text-align: right;
    }

    .menu-burger {
        display: none;
    }

    .main-navbar {
        display: flex;
        justify-content: space-between;
    }

    .main-navbar ul {
        display: flex;
    }

    .main-navbar li {
        margin: 0 5px;
    }

    .descripciones {
        display: block;
    }

    main section {
        flex-direction: row;
    }

    main section article {
        max-width: 40%;
    }
}

@media (min-width: 1200px) {
    .top-bar, .main-navbar {
        max-width: 1200px;
        margin: auto;
    }

    .main-header-top-bar {
        align-items: center;
    }

    .main-header-top-bar .buscar {
        max-width: 400px;
        width: 100%;
    }

    .logo {
        width: 250px;
    }

    .compro-credito {
        max-width: none;
        font-size: 18px;
        font-weight: 400;
    }

    .main-navbar {
        margin-top: 40px;
    }

    .main-navbar li {
        margin: 0 10px;
    }

    .main-navbar a {
        font-size: 16px;
    }

    main section article {
        max-width: 20%;
    }

    footer .footer-menu {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    
    footer .footer-menu article {
        padding: 0.5rem 0.35rem;
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        box-sizing: border-box;
    }
}
